<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "ht
tp://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ $.Site.LanguageCode | default "en" }}" lang="{{ $.Site.LanguageCode | default "en" }}"
>
<head>
	<meta name="description" content="{{ .Description }}">
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
	{{ if .RSSLink }}
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}
	<link rel="canonical" href="{{ .Permalink }}">
	{{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
	<title>{{ $title }}</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8"
/>
<meta name="author" content="admin@sexwork.rs" />
<link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}css/menu.css" rel="stylesheet">
</head>
<BODY>
{{ block "header" . }}
{{ partial "header" . }}
{{ end }}
<div id="container">
	<div id="sidebar">
		{{ block "sidebar" . }}
		{{ partial "sidebar" .}}
		{{end}}
	</div>
	<div id="main">
		{{ block "main" . }}
		<!-- The part of the page that begins to differ between templates -->
	      {{ end }}
	</div>
</div>
{{ block "footer" . }}
{{ partial "footer" . }}
{{ end }}
</BODY>
</html>
	  