
<article class="row max-width">
		<div class="col s12 l10 offset-l1">
		    <h3>
			<a class="grey-text text-darken-3" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
		    </h3>
		    <div>{{ partial "article-meta" . }}</div>
		    <div>{{ .Summary }}</div>
		</div>
	    </article>